body {
    margin : 1em;
    font-family: 'Helvetica Neue';
}

#burger{
    position: absolute;
    left: 300;
    right: 300;
    transition: transform 3s linear;
    transform: scale(0px);
    will-change: transform;
}